<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background Colour Purple -->
      <div class="shape shape-style-1 shape-primary">
      </div>


      
    <div class="mt-5">
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <button class="btn btn-icon btn-3 btn-primary" type="button">
                <span class="btn-inner--icon"><i class="ni ni-user-run"></i></span>
                <span class="btn-inner--text">Hello World ! </span>
              </button>
              <!-- <img src="./assets/img/brand/some-image" style="width: 200px;" class="img-fluid"> -->
              <p class="lead text-white">This Is My Personal Website Created using Angular and Boostrap.</p>
              
                <div class="btn-wrapper mt-5">
                  <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-index-header" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                    <span class="btn-inner--icon"><i class="fas fa-thumbs-up"></i></span>
                    <span class="btn-inner--text">Like</span>
                  </a>
                  <!-- <a href="https://github.com/creativetimofficial/argon-design-system-angular?ref=adsa-index-header" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                    <span class="btn-inner--icon"><i class="fa fa-github"></i></span>
                    <span class="btn-inner--text">
                      <span class="text-warning">Star us</span> on Github</span>

                  </a> -->
                </div>

                <small class="text-white font-weight-bold mb-0 mr-2">By PoroTomato</small>
              </div>
          </div>
          </div>
        </div>
      </div>
      SVG separator
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
</main>
